@model IEnumerable<Vendas.Models.Cliente>
@{
    Layout = "~/Views/Shared/_Cadastro.cshtml";
    ViewBag.Title = "Clientes";
    ViewBag.Lista = Model;
}

@section Styles {
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/Cadastro/Clientes.css" rel="stylesheet" />
}

@section TituloGrid {
    <th>Nome</th>
    <th>Email</th>
    <th>Ação</th>
}

@section CamposCadastro {
    <div class="row">
        <div class="col-md-12">
            @Html.Label("txt_nome", "Nome", new { @class = "control-label" })
            @Html.TextBox("txt_nome", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Label("txt_email", "E-mail", new { @class = "control-label" })
            @Html.TextBox("txt_email", null, new { @class = "form-control" })
        </div>
    </div>
}

@section Scripts{
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script>
        var tituloPagina = '@ViewBag.Title';
        var url_excluir = '@Url.Action("Excluir", "Clientes")';
        var url_confirmar = '@Url.Action("Salvar", "Clientes")';
        @*var url_page_click = '@Url.Action("UsuarioPagina", "Clientes")';
        var url_tam_pag_change = '@Url.Action("UsuarioPagina", "Clientes")';
        var url_filtro_change = '@Url.Action("UsuarioPagina", "Clientes")';*@
        var url_alterar = '@Url.Action("Cliente", "Clientes")';
        var linhas = [];

        @{

            foreach (var item in Model)
            {
                @:linhas.push(@Html.Raw(Json.Encode(item)));
            }
        }
    </script>
    <script id="template-grid" type="x-tmpl-mustache">
        <tr data-id="{{ Id }}">
            <td>{{ Nome }}</td>
            <td>{{ Email }}</td>
            <td>
                <a class="btn btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i> Alterar</a>
                <a class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i> Excluir</a>
            </td>
        </tr>
    </script>
    <script src="~/Scripts/Cadastro/Cliente.js"></script>
}