
@{
    ViewBag.Title = "Clientes";
}
<h2>@ViewBag.Title</h2>
<div class="nav-tabs-navigation">
    <div class="nav-tabs-wrapper">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#home" data-toggle="tab">Listagem de Clientes</a></li>
            <li><a href="#profile" data-toggle="tab">Incluir Cliente</a></li>
        </ul>
    </div>
</div>
<div id="my-tab-content" class="tab-content text-left">
    <div class="tab-pane active" id="home">
        <div class="content">
            <div class="container-fluid">
                <div class="col-md-6">
                    <table id="clienteTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>E-mail</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="profile">
        <div class="col-lg-5 col-md-7" style="margin-top: 20px">
            <div class="card">
                <div class="header">
                    <h4 class="title">Incluir Cliente</h4>
                </div>
                <div class="content">
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Nome</label>
                                    <input id="txt_nome" type="text" class="form-control border-input" placeholder="Nome">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input id="txt_email" type="email" class="form-control border-input" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button id="btn_incluir" class="btn btn-success btn-fill btn-wd">Salvar</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var tituloPagina = '@ViewBag.Title';
        var url_listar = '@Url.Action("Listar", "Clientes")';
        var url_adicionar = '@Url.Action("Cadastrar","Clientes")';
        var url_getCliente = '@Url.Action("Cliente","Clientes")';
    </script>
    <script src="~/Scripts/Cadastro/Cliente.js"></script>
}